# cosmwasm build artifacts
artifacts/

# rust
target/

# nodejs
scripts/node_modules/

# schemas don't need to ve committed
# whoever needs them can generate them on their own
schemas/

# editors
.idea/
.vscode/

# macos
.DS_Store
